@import url('https://fonts.googleapis.com/css2? Family= Roboto:wght@100;300;400;500;700;900 & display=swap');

.outer{
    width: 100%;
    height: 500px;
    /* text-align: center;
    vertical-align: middle; */
    background-color: rgb(205, 204, 204);
    margin-top: 50px;
 } 
.inner1{
    float:left;
    width: 40%;
    height: 400px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 80px;
}
.inner2{
    float: right;
    font-family: 'Roboto', sans-serif;
    width: 40%;
    height: 400px;
    box-sizing: border-box;
    margin-top: 60px;
    margin-right: 100px;
} 
.heading{
    font-weight:700;
    font-size: 30px;
}

.text{
    color: rgb(0, 0, 0);
    font-weight:300;
    font-size: 25px;
    line-height: 1.5;
}

.button1{
    vertical-align: middle;
    width: auto;
    height: 50px;;
    background:  rgb(61, 123, 194);
    align-items: center;
    border: 0px;
    border-radius: 300px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 2px 20px 0px 20px;
    box-sizing: border-box;
    margin-top: 40px;
}